@font-face {
    src: url('/fonts/Roboto-Italic.ttf');
    font-family: "Roboto-Italic", Arial;
}
h1 {
    font-family: "Roboto-Italic", Arial;
    color: white;
}
p{
    color: white;
}
header{
    display: flex;
    padding: 10px;
    /*justify-content: space-between;*/
    align-items: flex-end;
    flex-direction: row;
    background-size: auto;
    background-color: #FF9F55;

}

#about>a{
    font-family: "Roboto-Italic", Arial;
    font-size: 24px;
    color: black;

}
#prog>a{
    font-family: "Roboto-Italic", Arial;
    font-size: 24px;
    color: black;
}
#cont>a{
    font-family: "Roboto-Italic", Arial;
    font-size: 24px;
    color: black;
}
.site-menu{

    display: inline-flex;
    flex-direction: row;
    font-family: "Roboto-Italic", Arial;
    flex-grow:8 ;
    }
.einstein{
    float: left;
    margin-inline-end: 10px;
    margin-block-end: 10px;

}
.logo{
    flex-grow: 1;
}

body{
    font-family: "Roboto-Italic", Arial;
    background-color: #474e5d;
}

* {
    box-sizing: border-box;
}


.timeline {
    position: relative;
    max-width: 1200px;
    margin: 10px;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

/* Container around content */
.container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

/* The circles on the timeline */
.container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #FF9F55;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

/* Place the container to the left */
.left {
    left: 0;
}

/* Place the container to the right */
.right {
    left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
    left: -16px;
}

/* The actual content */
.content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
    }
.content>p{
    color: black;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
    /* Place the timelime to the left */
    .timeline::after {
        left: 31px;
    }

    /* Full-width containers */
    .container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

    /* Make sure that all arrows are pointing leftwards */
    .container::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }

    /* Make sure all circles are at the same spot */
    .left::after, .right::after {
        left: 15px;
    }

    /* !*Make all right containers behave like the left ones *!*/
    /*.right {*/
    /*    left: 0%;*/
    /*}*/
}

.collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
    background-color: #ccc;
}
/* Style the collapsible content. Note: hidden by default */
.context {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}
.collapsible:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}
